body {
    background-color: #FDFCF2;
    
}


.container {
    margin: auto;
    max-width: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



nav {
  display: flex;
  justify-content: right;
}

.heading {
    color: #E6AD2B;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    
  }

  .nav-link-item {
    padding-right: 2rem;
  }

  .nav-link-text {
    color: #4B1C64;
    font-size: 1.2rem;
    text-decoration: none;
  }

  .site-title {
      font-size: 2rem;
      color: #E6AD2B;
      font-weight: 900;
      margin: 3rem 0;
  }


  .front-intro {
    height: 700px;
    background-color: #E6AD2B;
    color: #FDFCF2;
  }


  .about-container {
    margin: auto;
    max-width: 60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #4B1C64;
  }